@charset "UTF-8";* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?cb7220c9964fc51847633afdff6e16c5") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-s-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-twt"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-twit"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-tt"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-p"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-messanger"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-inst"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-drb"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-bh"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: rgba(218, 197, 167, 0.6);
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
  background-color: #0e0e0e;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-d"]::before {
  transform: rotate(180deg);
}

[class*="--arrow-l"]::before {
  transform: rotate(90deg);
}

[class*="--icon-arrow-lu"]::before {
  transform: rotate(-45deg);
}

[class*="--arrow-ru"]::before {
  transform: rotate(45deg);
}

[class*="--arrow-lu"]::before {
  transform: rotate(-45deg);
}

[class*="--arrow-rd"]::before {
  transform: rotate(225deg);
}

[class*="--arrow-ld"]::before {
  transform: rotate(-135deg);
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem 1.25rem;
}
.menu__link {
  font-family: "Satoshi", sans-serif;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #dac5a7;
  position: relative;
  transition: color 0.5s;
}
.menu__link::after {
  content: "";
  width: 0;
  height: 0.03125rem;
  background-color: #dac5a7;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
}
.header__container {
  pointer-events: auto;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 5;
}
.header__button {
  white-space: nowrap;
}
.header__body {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.125rem;
  backdrop-filter: blur(0.9375rem);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  z-index: 2;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.button {
  font-family: "Satoshi", sans-serif;
  display: inline-flex;
  padding: 0.625rem 1rem;
  align-items: center;
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  color: #dac5a7;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46; /* 1.3rem */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  backdrop-filter: blur(0.9375rem);
  transition: all 0.5s;
}
.button--lite {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #dac5a7;
  color: #0e0e0e;
}
.button--icon {
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.75rem;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  border-radius: 50%;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-content: center;
  transition: all 0.5s;
}
.button--text-big::before {
  font-size: 0.9375rem;
  width: 3rem;
  height: 3rem;
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}

.text-button {
  font-family: "Satoshi", sans-serif;
  align-items: center;
  gap: 0.75rem;
  text-transform: uppercase;
}
.text-button::before {
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-content: center;
}
/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-wrap: balance;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead__label, .blockhead__title {
  max-width: 62.5rem;
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
}
.blockhead__label {
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.6; /* 1.3rem */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  font-weight: 300;
}
.blockhead__title span {
  display: block;
  font-family: "Gambetta", serif;
}
.blockhead__title--scale {
  transition: scale 0.3s;
}
.blockhead__title--size-80 {
  font-size: 5rem;
}
.blockhead__text {
  max-width: 37.5rem;
  line-height: 1.7;
}
.blockhead__content span {
  color: #f9efe1;
}
.blockhead__crumbs {
  transition: scale 0.3s;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 84.375em){
  .button {
    justify-content: center;
  }
}@media (max-width: 53.125em) and (min-width: 89.375em){
  .blockhead__title--size-160 {
    font-size: 1Ф1.75rem;
  }
}@media (max-width: 53.125em) and (max-width: 20em){
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em){
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(14, 14, 14, 0.8);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    gap: 0.9375rem 0.625rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #dac5a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}@media (max-width: 22.5em){
  .header__body {
    gap: 0.3125rem;
  }
}@media (max-width: 20em){
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.375rem;
  }
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
  .blockhead__text {
    font-size: 0.9375rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.875rem;
  }
  .blockhead__text--size-24 {
    font-size: 1rem;
  }
  .blockhead__content {
    font-size: 2.8125rem;
  }
}@media (max-width: 53.125em) and (min-width: 20em) and (max-width: 89.375em){
  .blockhead__title--size-160 {
    font-size: clamp( 1Ф1.75rem , 57.6846846847Ф1.75rem  +  -3.963963964Ф28vw , 2.8125rem );
  }
}@media (min-width: 20em) and (max-width: 89.375em){
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 2.8125rem , 2.18186936936875rem  +  3.1531531532vw , 5rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.375rem , 1.32995495495625rem  +  5.2252252252vw , 6rem );
  }
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 0.740427927925rem  +  10.3603603604vw , 10rem );
  }
  .blockhead__text {
    font-size: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.875rem , 0.802927927925rem  +  0.3603603604vw , 1.125rem );
  }
  .blockhead__text--size-24 {
    font-size: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .blockhead__content {
    font-size: clamp( 2.8125rem , 2.54222972973125rem  +  1.3513513514vw , 3.75rem );
  }
}@media (min-width: 47.99875em){
  .menu {
    position: relative;
    z-index: 5;
  }
  .header {
    top: 3rem;
  }
  .header__body {
    gap: 2rem;
    padding-left: 1.5rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
}@media (min-width: 89.375em){
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 5rem;
  }
  .blockhead__title--size-96 {
    font-size: 6rem;
  }
  .blockhead__title--size-160 {
    font-size: 10rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
  .blockhead__text--size-24 {
    font-size: 1.5rem;
  }
  .blockhead__content {
    font-size: 3.75rem;
  }
}@media (any-hover: hover){
  .menu__link:hover {
    color: #f9efe1;
  }
  .menu__link:hover::after {
    left: 0;
    width: 100%;
    background-color: #f9efe1;
  }
  .button:hover {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
  .button--lite:hover {
    background-color: rgba(218, 197, 167, 0.05);
    color: #dac5a7;
  }
  .button--text:hover {
    color: #dac5a7;
    background-color: transparent;
  }
  .button--text:hover::before {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
  .blockhead__title--scale:hover {
    scale: 1.1;
  }
  .blockhead__crumbs:hover {
    scale: 1.1;
  }
}